@font-face {
  font-family: 'Minecraft';
  src: url('../fonts/KenneyBlocks.ttf') format('truetype');
}

html, body {
    width: 100%;
    height: 100%;
    /* remove the extra whites around */
    margin: 0;
    background-color: black;
  }
  canvas {
    background-image: url("../backgrounds/Clouded Grassland.png");
    width: 100%;
    height: 100%;
    display: block;
  }